table{
    font-family: Arial, sans-serif;
    padding: 10px;
    /* border:1px solid black ; */
    width: 80%;
    margin:20px auto;
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}
th, td{
    /* border: 1px solid black; */
    padding: 10px;
    font-weight: bold;
    text-align: start;
}
th{
    background-color: rgb(229, 234, 229);
}
.bnt1{
    background-color: aquamarine;
    border-radius:10px ;
    border: none;
    padding: 5px;
    width: 100px;

}
.bnt2{
    background-color: pink;
    border-radius:10px ;
    border:none ;
    padding:5px ;
    width: 100px;
}
.bnt3{
    background-color: aqua;
    border-radius: 10px;
    width:100px ;
    border: none;
    padding: 5px;
}
.bnt4{
    background-color: rgb(69, 218, 169);
    border-radius: 10px;
    width:100px ;
    border: none;
    padding: 5px;
}
.bnt5{
    background-color:orange ;
    border-radius: 10px;
    width:100px ;
    border: none;
    padding: 5px;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
    margin-right:10px ;
}
tbody img, td:nth-child(2){
    display: flex;
    align-items: center;
    gap: 5px;
}
tbody tr:nth-child(even){
    background-color:whitesmoke;
}
/* th:nth-child(2){
    width: 20%;
} */


